body{
	background-image:url(images/images_06.jpg);
	
}


.wrapper{
	min-height:100%;
	display:flex;
	overflow:hidden;
	flex-direction:column;
}

ul{
	list-style:none;
	margin:0px;
	padding:0px;
}
	
	li{
	display:inline;	
	text-align:center;
	}
	
hr{
	width:100%;
	height:2px;
	background-color:#484C52;
}	

h2{
	color:green;
}

h1{
	color:green;
}

	.aa{
		width:80%;
		height:50px;
		border:4px solid #283037;
		background-color:#484C52;
		color:white;
		padding-top:25px;
		border-radius:30%;
	}
	.a{
		text-decoration:none;
		color:white;
		padding:15px 40px;
		font-size:17px;
		
	}
	
	.ddd:hover{
		border:1px solid white;
		background-color:#4444FF;
		color:black;
	}




.title{
	color: #D6DBD7;
	font-size: 15px;
	line-height: 17px;
}



.text{
	color: #4E5663;
	padding:0px 10px 10px 0px;
	font-size: 20px;
	
	
}







footer{
	margin:0;
	width:100%;
	height:70px;
	background-color:#BFBDA8;
	border: 1px solid #BFBDA8;
	font-size: 27px;
	color:#35352F;
	
	
	
}
button{
	width:50%;
	border: 1px solid #BFBDA8;
	background-color:#BCBCA7;
}


.q{
		text-decoration:none;
		color:green;
		padding:15px 40px;
		font-size:17px;
		
	}